* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: red;
  height: 100vh;
}

.width70 {
  width: 70%;
  margin: 0 auto;
}

nav {
  display: flex;
}

nav img {
  width: 120px;
  height: auto;
}
