* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}
body {
  height: 100vh;
}

.h2, h2 {
font-size: 30px;
margin-top: 20px;
margin-bottom: 10px;
}

.width70 {
  width: 70%;
  margin: 0 auto;
}

/*Css for navbar*/

header {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

nav {
  height: 60px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav.width70 {
  position: relative;
}

nav img {
  width: 140px;
  height: auto;
}

nav ul li,
nav ul li a {
  display: inline-block;
  text-decoration: none;
  color: grey;
  padding: 0 5px;
}

#right-margin {
  margin-right: 300px;
}

.listflex {
  display: flex;
  justify-content: space-between;
}

nav ul li button {
  font-size: 15px;
  width: 90px;
  height: 30px;
  color: blue;
  border: 1px solid blue;
  background-color: white;
  border-radius: 3px;
}

nav ul li button:hover {
  background-color: blue;
  color: white;
}

#toggle {
  display: none;
  position: absolute;
  right: 0;
  color: blue;
  font-size: 15px;
}

/*CSS for Section1 - Jumbotron*/

.mysection1 {
  background-image: url(../img/jumbo.svg);
  margin-top: 60px;
  background-size: cover;
  padding: 3% 0;
}

section.mysection1 div.width70 {
  display: flex;
  justify-content: center;
}

section.mysection1 div.width70  div:first-child{
  flex-basis: 50%;
}

section.mysection1 div.width70  div:last-child{
  flex-basis: 40%;
  margin-left: 5%;
}

section.mysection1 div.width70 div > h1 {
  font-size: 60px;
  color: white;
  margin-bottom: 30px;
}

section.mysection1 div.width70 div > p {
  font-size: 20px;
  color: lightgrey;
}

div.white {
  background-color: white;
  padding: 30px;
  border-radius: 5px;
}

div.white h2,
div.white h6{
  text-align: center;
}

div.white h2 span {
  color: blue;
}

div.white input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

div.white button {
  height: 50px;
  width: 100%;
  background-color: blue;
  color: white;
  margin-bottom: 2px;
  border-radius: 5px;
}



#myfix1 {
  text-align: left;
  background-color: white;
  color: black;
  border-color: grey;
}

#google img{
  width:5%;
  height:auto;
  margin-right: 150px;
}

#myfix1 > div {
  display: inline-block;
  text-align: center;
  font-size: 15px;
}

/*CSS for Section 2*/

.mysection2 {
background-color: #f3f5f9;
text-align: center;
padding: 35px 0;
}

section.mysection2 div.width70 > div {
  display: flex;
  justify-content: center;
}

section.mysection2 img {
  max-width: 100%;
  min-height: 100px;
  padding: 0 10px;
}

section.mysection2 h6 a{
  color: #337ab7;
  text-decoration: none;
  font-size: 15px;
}

/*CSS for Section 3*/

.mysection3 {
padding: 35px 0;
text-align: center;
}

section.mysection3 p,
section.mysection2 p {
  color: grey;
  font-size: 20px;
}

.box {
  display: flex;
  justify-content: flex-start;
}

.box2 {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.myborder-list {
  border-left: 1px solid grey;
}

div.myborder-list ul {
  list-style: none;
  margin-top: 30px;
  padding-left: 30px;
}

div.myborder-list ul li {
  padding-right: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 20px;
  color: grey;
}

div.myborder-list ul li:hover {
  color: blue;
  text-decoration: underline;
}

div.box2 > div {
  flex-basis: 40%;
  margin-top: 20px;
  margin-left: 10%;
}

div.box2 img {
  margin-top: 40px;
  display: block;
}

div.box2 h3,
div.box2 p {
  text-align: left;
}

div.box2 p{
  margin-bottom: 30px;
}

/*CSS for Section 4,5,6*/

.arrow-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

section.mysection2 i.fa-chevron-left,
section.mysection2 i.fa-chevron-right{
  font-size: 30px;
}

section.mysection2 i.fa-chevron-left:hover,
section.mysection2 i.fa-chevron-right:hover {
    color: blue;
}

section.mysection2 h6 {
  margin-top: 50px;
  font-size: 15px;
}

.circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid blue;
  background-color: blue;
}

.box3 {
  display: flex;
  justify-content: flex-start;
  text-align: left;
}

/*CSS for Section 6*/
.mysection6 {
  background: linear-gradient(to bottom, #2285fd, #031c4e);
  padding: 50px 0;
  text-align: center;
  color: white;
}

section.mysection6 div.width70 > div{
  display: flex;
  justify-content: space-between;
}

section.mysection6 div.width70 div > table {
  flex-basis: 48%;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
  border-top: 0px solid #ddd;
  border-bottom: 1px solid #ddd;
  font-size: 20px;
}

table.table tr td a{
  color: turquoise;
}

table.table tr td a:hover{
  color: red;
}

.table>tbody>tr>td:hover {
  color: red;
}


/*CSS for Section 7*/

.mysection7 {
  background-color: #f3f5f9;
  text-align: center;
  padding: 35px 0;
}

section.mysection7 h2{
  background-color: #f3f5f9;
  margin-bottom: 30px;
  text-align: center;
}

section.mysection7 p{
  font-size: 20px;
  margin: 50px 0;
}

section.mysection7 h6{
  margin-bottom: 20px;
}

section.mysection7 i.fa-chevron-left,
section.mysection7 i.fa-chevron-right{
  font-size: 30px;
}

div.arrow-image div.white {
  flex-basis: 60%;
  margin: 0 2%;
}

/*CSS for Section 8*/
.mysection8 {
  background-color: blue;
  padding: 50px 0;
  text-align: center;
  color: white;
}

.mysection7-button {
  margin-top: 30px;
  height: 50px;
  width: 200px;
  background-color: white;
  color: blue;
  margin-bottom: 2px;
  border-radius: 5px;
}

.mysection7-button:hover {
  background-color: red;
  color: white;
}

/*CSS for Footer*/
.myfooter {
  background-color: #252850;
  padding: 45px 0;
}

footer.myfooter div.width70 {
  display: flex;
  justify-content: space-around;
}

footer.myfooter h6 {
  color: white;
  margin: 10px 0;
}

footer.myfooter h6 span {
  display: inline-block;
  color: grey;
  margin-top: 5px;
  margin-bottom: 5px;
}

footer.myfooter i {
  color: white;
  padding-right: 10px;
  font-size: 20px;
}

footer.myfooter i:hover {
color: blue;
}

footer.myfooter ul {
  list-style-type: none;
}

footer.myfooter ul li {
  padding-bottom: 10px;
}

footer.myfooter ul li strong {
  color: white;
}

footer.myfooter ul li strong:hover {
  color: red;
}

footer.myfooter ul li a {
  color: lightgrey;
  text-decoration: none;
}

footer.myfooter ul li a:hover{
  color: blue;
}

@media (max-width: 1200px) AND (min-width: 768px) {

  #toggle {
    display: block;
  }

  div.listflex {
    display:none;
  }

  #toggle:hover + div.listflex{
    display: block;
    background-color: white;
    position: absolute;
    left: 0;
    top: 60px;
  }

  div.listflex ul li {
    font-size: 20px;
    display: block;
  }

  section.mysection1 div.width70  div:first-child{
    flex-basis: 60%;
  }

  section.mysection1 div.width70  div:last-child{
    flex-basis: 40%;
    margin-left: 5%;
  }

  section.mysection2 div.width70 > div {
    flex-wrap: wrap;
  }

  section.mysection2 img {
    flex-shrink: 2;
  }

  section.mysection2 div.width70 > .arrow-image {
    flex-wrap: nowrap;
  }

  section.mysection2 i.fa-chevron-left,
  section.mysection2 i.fa-chevron-right {
    flex-basis: 20%;
  }

  .box3 {
    justify-content: space-between;
  }

  div.box3 > div {
    flex-basis: 30%;
  }

  section.mysection6 div.width70 > div {
    flex-wrap: wrap;
  }

  section.mysection6 div.width70 div > table {
    flex-basis: 100%;
    margin-bottom: 50px;
  }

  div.white {
    flex-basis: 60%;
  }

  footer.myfooter div.width70 {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  footer.myfooter div.width70 > div {
    flex-basis: 100%;
  }

  footer.myfooter ul {
    flex-basis: 50%;
    margin: 4% 0;
  }
}


@media (max-width: 768px) {

  #toggle {
    display: block;
  }

  ul#right-margin {
    display:none;
  }

  nav ul{
    display: none;
  }

  #toggle:hover + ul#right-margin {
    display: block;
    background-color: white;
    position: absolute;
    left: 0;
    top: 60px;
  }

  #toggle:hover + ul#right-margin li, toggle:hover + ul#right-margin li a{
    font-size: 20px;
  }

  section.mysection1 div.width70 {
    flex-direction: column;
    align-items: stretch;
  }

  section.mysection1 div.width70  div:first-child{
    flex-basis: 100%;
  }

  section.mysection1 div.width70  div:last-child{
    flex-basis: 100%;
  }

  section.mysection2 div.width70 > div {
    flex-wrap: wrap;
  }

  section.mysection2 img {
    flex-basis: 50%;
  }

  div.box2 > div {
    flex-basis: 90%;
    margin-top: 20px;
    margin-left: 10%;
  }

  section.mysection2 i.fa-chevron-left,
  section.mysection2 i.fa-chevron-right {
    display: none;
  }

  .box3 {
    flex-wrap: wrap;
  }

  div.box3 > div {
    flex-basis: 100%;
  }

  section.mysection6 div.width70 > div {
  flex-wrap: wrap;
  }

  section.mysection6 div.width70 div > table {
    flex-basis: 100%;
    margin-bottom: 50px;
  }

  section.mysection7 i.fa-chevron-left, section.mysection7 i.fa-chevron-right {
  display: none;
  }

  div.white {
  flex-basis: 70%;
  }

  footer.myfooter div.width70 {
    flex-direction: column;
  }

  footer.myfooter div.width70 > div {
    flex-basis: 100%;
  }

  footer.myfooter ul {
    flex-basis: 50%;
    margin: 2% 0;
  }

}
